#subsub1,#subsub2{
   border-radius: 1em;
   background-color: #b8662c;

}

#sublink1,#sublink2,#sublink3,#sublink4,#sublink5,#sublink6{
    color: white;
}
#sublink1:hover,#sublink2:hover,#sublink3:hover,#sublink4:hover,#sublink5:hover,#sublink6:hover,.underline:hover{
    text-decoration: underline;
}

#serachforyou{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #FF9F67;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #FF9F67;
    padding: 5px;
}

#serachboxforyou{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}


#serachforyou:hover{
    width: 200px;
    cursor: pointer;
}

#serachforyou:hover input{
    display: block;
}

#serachforyou:hover .fa{
    background: #07051a;
    color:#FF9F67;
}
.text{ text-color

}
